<p>demotdf works!</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                {{f.value| json}}

            <div class="mt-2 mb-2">
                <label for="">Username::</label>
                <input type="text" placeholder="Enter the Username" minlength="5"
                ngModel name="myusername"
                #username="ngModel"
                class="form-control" required>

                <div class="alert alert-danger" 
                    *ngIf="username.touched && !username.valid "
                > ** Please Enter the Username

                    <div *ngIf="username.errors?.['minlength']">** Please Enter minimum {{username.errors?.['minlength'].requiredLength}} character for username

                    </div>

                </div>

            </div>

            <div class="mt-2 mb-2">
                <label for="">Comment::</label>
                <textarea ngModel name="comment" id="" 
                #comment="ngModel" required
                placeholder="Enter the Comment" class="form-control">
                </textarea>

                <div class="alert alert-danger"
                    *ngIf="comment.touched && comment.invalid"
                >
                    **Please Enter the Comment 
                </div>

            </div>
            <br>
            <button [disabled]="!f.valid" class="btn btn-outline-success">Submit</button>
        </form>

        </div>
    </div>
</div>