<p>inbuiltpipe works!</p>
<!-- syntax
    - It apply on Property 
    {{proeprtyName | pipeName}}
-->

<!-- <h2> {{strData}} </h2>
<h2> {{strData | lowercase}} </h2>
<h2> {{strData | uppercase}} </h2>
<h2> {{strData | titlecase}} </h2> -->
<!-- 
<h2> {{0.25 | percent}} </h2>
<h2> {{0.025 | percent}} </h2>
<h2> {{0.025 | percent:'1.1'}} </h2>
<h2> {{0.091 | percent:'2.2'}} </h2>  -->

<!-- <h2> {{0.25 | currency}} </h2>
<h2> {{25 | currency:'INR'}} </h2>
<h2> {{25 | currency:'INR':'code'}} </h2>
<h2> {{25 | currency:'GBP'}} </h2> -->

<!-- <h2> {{5.674231789526 | number:'1.2-3'}} </h2>
<h2> {{5.674536789526 | number:'1.2-3'}} </h2>
<h2> {{5.674536789526 | number:'2.2-4'}} </h2> -->

<!-- <h2> {{mydate}} </h2>
<h2> {{mydate|date : 'mediumDate' }} </h2>
<h2> {{mydate|date : 'shortDate' }} </h2>
<h2> {{mydate|date : 'dd-MM-yyyy' }} </h2>
<h2> {{mydate|date : 'dd/MM/yyyy' }} </h2>
<h2> {{mydate|date : 'longDate' }} </h2> -->

<!-- chanining of Pipe  -->

<h2> {{mydate|date : 'longDate'|uppercase }} </h2>




